.carousel-item img {
  height: 70vh;
  object-fit: cover;
}
.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: center;
}
